<!doctype html>
<html lang="en">

<head>
	<title>Relatórios Motorista | STUP</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="assets/vendor/chartist/css/chartist-custom.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="assets/css/main.css">
	<link rel="stylesheet" href="assets/css/demo.css">
	<link rel="stylesheet" href="assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="index.html"><img src="assets/img/Stup-logo.png" alt="Stup Logo"
						class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i
							class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<form class="navbar-form navbar-left">

				</form>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="index.html"><i class="lnr lnr-home"></i> <span>Home</span></a></li>
						<li><a href="cadastro-motorista.html" class=""><i class="lnr lnr-pencil"></i> <span>Cadastro de
									Motorista</span></a></li>
						<li><a href="cadastro-cliente.html" class=""><i class="fa fa-credit-card"></i>
								<span>Cadastro de
									Cliente</span></a></li>
						<li><a href="cadastro-linhas.html" class=""><i class="fa fa-map-marker"></i> <span>Cadastro de
									Linhas</span></a></li>
						<li>
							<a href="#subPages" data-toggle="collapse" class="active" class="collapsed"><i
									class="lnr lnr-file-empty"></i> <span>Relatórios</span> <i
									class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages" class="collapse ">
								<ul class="nav">
									<li><a href="relatórios-linhas.html" class="">Linhas</a></li>
									<li><a href="relatórios-motorista.html" class="active">Motoristas</a></li>
									<li><a href="relatórios-clientes.html" class="">Passes</a></li>
									<li><a href="relatórios-gerais.html" class="">Gerais</a></li>
								</ul>
							</div>
						</li>

					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
						<div class="panel-heading">
							<h3 class="panel-title">Relatório de Motorista</h3>
						</div>
						<div class="panel-body">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>CPF</th>
										<th>Nome Completo</th>
										<th>Na Data</th>
										<th>Trabalha na linha</th>
										<th>Jornada de Trabalho</th>
									</tr>
								</thead>
								<tbody>
									<tr class="">
										<td class="">512.466.818-14</td>
										<td>Steve Jobs Alencar</td>
										<td class="" for="data1"><input type="text" id="data1" class="form-control"
												readonly></td>
										<td> 100 </td>
										<td class="" for="horario1"><input type="text" id="horario1"
												class="form-control" readonly></td>
									</tr>
									<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
									<script
										src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
									<script>
										$(document).ready(function () {
											let diaDeTrabalho = "20";
											let MesDeTrabalho = "09";
											let anoDeTrabalho = "2023";
											$("#data1").val(diaDeTrabalho + "/" + MesDeTrabalho + "/" + anoDeTrabalho);
										});
									</script>
									<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
									<script
										src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
									<script>
										$(document).ready(function () {
											let entradaNoServico = "6:30";
											let saidaDoServico = "14:30";
											$("#horario1").val(entradaNoServico + " até " + saidaDoServico);
										});
									</script>
									<tr class="">
										<td class="">512.466.818-14</td>
										<td>Steve Jobs Alencar</td>
										<td class="" for="data2"><input type="text" id="data2" class="form-control"
												readonly></td>
										<td> 110 </td>
										<td class="" for="horario2"><input type="text" id="horario2"
												class="form-control" readonly></td>
									</tr>
									<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
									<script
										src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
									<script>
										$(document).ready(function () {
											let diaDeTrabalho = "21"; // Usando uma data diferente
											let MesDeTrabalho = "09";
											let anoDeTrabalho = "2023";
											$("#data2").val(diaDeTrabalho + "/" + MesDeTrabalho + "/" + anoDeTrabalho);

											let entradaNoServico = "7:00"; // Usando um horário diferente
											let saidaDoServico = "15:00"; // Usando um horário diferente
											$("#horario2").val(entradaNoServico + " até " + saidaDoServico);
										});
									</script>
								</tbody>


								</tbody>
							</table>
						</div>

						<div class="clearfix"></div>
						<footer>
							<div class="container-fluid">
								<p class="copyright">&copy; 2023 <a href="#" target="_blank">STUP</a>.
									Todos os Direitos Reservador</p>
							</div>
						</footer>
					</div>
					<!-- END WRAPPER -->
					<!-- Javascript -->
					<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
					<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
					<script src="assets/vendor/jquery/jquery.min.js"></script>
					<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
					<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
					<script src="assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
					<script src="assets/vendor/chartist/js/chartist.min.js"></script>
					<script src="assets/scripts/klorofil-common.js"></script>
					<script>
						$(function () {
							var data, options;

							// headline charts
							data = {
								labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
								series: [
									[23, 29, 24, 40, 25, 24, 35],
									[14, 25, 18, 34, 29, 38, 44],
								]
							};

							options = {
								height: 300,
								showArea: true,
								showLine: false,
								showPoint: false,
								fullWidth: true,
								axisX: {
									showGrid: false
								},
								lineSmooth: false,
							};

							new Chartist.Line('#headline-chart', data, options);


							// visits trend charts
							data = {
								labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
								series: [{
									name: 'series-real',
									data: [200, 380, 350, 320, 410, 450, 570, 400, 555, 620, 750, 900],
								}, {
									name: 'series-projection',
									data: [240, 350, 360, 380, 400, 450, 480, 523, 555, 600, 700, 800],
								}]
							};

							options = {
								fullWidth: true,
								lineSmooth: false,
								height: "270px",
								low: 0,
								high: 'auto',
								series: {
									'series-projection': {
										showArea: true,
										showPoint: false,
										showLine: false
									},
								},
								axisX: {
									showGrid: false,

								},
								axisY: {
									showGrid: false,
									onlyInteger: true,
									offset: 0,
								},
								chartPadding: {
									left: 20,
									right: 20
								}
							};

							new Chartist.Line('#visits-trends-chart', data, options);


							// visits chart
							data = {
								labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
								series: [
									[6384, 6342, 5437, 2764, 3958, 5068, 7654]
								]
							};

							options = {
								height: 300,
								axisX: {
									showGrid: false
								},
							};

							new Chartist.Bar('#visits-chart', data, options);


							// real-time pie chart
							var sysLoad = $('#system-load').easyPieChart({
								size: 130,
								barColor: function (percent) {
									return "rgb(" + Math.round(200 * percent / 100) + ", " + Math.round(200 * (1.1 - percent / 100)) + ", 0)";
								},
								trackColor: 'rgba(245, 245, 245, 0.8)',
								scaleColor: false,
								lineWidth: 5,
								lineCap: "square",
								animate: 800
							});

							var updateInterval = 3000; // in milliseconds

							setInterval(function () {
								var randomVal;
								randomVal = getRandomInt(0, 100);

								sysLoad.data('easyPieChart').update(randomVal);
								sysLoad.find('.percent').text(randomVal);
							}, updateInterval);

							function getRandomInt(min, max) {
								return Math.floor(Math.random() * (max - min + 1)) + min;
							}

						});
					</script>
</body>

</html>