* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inria Sans', sans-serif;
}

body {
    overflow-x: hidden;
}

/* roxo 602E9A 
   preto 212121
   daanca EAEAEA*/

.line-purple {
    width: 100%;
    height: 5px;
    background-color: #602E9A;
}

/* HEADER */

.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #212121;
    
}

.stup-logo {
    margin-left: 10%;
    padding: 3px;
    background-color: #602E9A;
    border-radius: 2px;

}

.stup-logo h1 {
    color: #EAEAEA;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 5px;
    
}

.line-white {
    background-color: #eaeaea;
    height: 1px;
    padding: 0;
}
.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #212121;
    padding-left: 10%;
    padding-right: 10%;
    
}

.menu a {
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    width: 100px;
    cursor: pointer;
    margin-left: 7px;
    background-color: transparent;
    color: #EAEAEA;
    border: 1px solid #EAEAEA;
    border-radius: 2px;
    transition: 0.5s;
}


.menu #entrar{
    background-color: #602E9A;
    font-weight: bolder;
    border: 1px solid #602E9A;
}
.menu a:hover {
    background-color: #555;
    transition: 0.5s;
}
.menu #entrar:hover {
    background-color: #460770;
    border: 1px solid #460770;
}

.menu-dois {
    padding: 15px 10% 15px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #212121;
}

.menu-dois a {
    text-decoration : none;
    color: #EAEAEA;
    font-size: 14px;
}


/* BANNERS (index) */

section {
    position: relative;
}

.banner {
    position: relative;
    display: flex;
    width: 100%;
}

.banner img {
    width: 100%;
}

.banner-text {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    left:10%;
    color: #EAEAEA;
}

.banner-text h1 {
    font-size: 40px;
    margin: 0;
    line-height: 1.2;
}

.banner-text h5 {
    font-weight: 300;
    font-size: 18px;
    margin: 10px 0 0;
    line-height: 1.4;
}

.pedir-carteirinha {
    margin-top: 25px;
}

.pedir-carteirinha a {
    color: #602E9A;
    text-decoration: none;
    font-weight: 700;
    padding: 10px;
    background-color: #EAEAEA;
    border-radius: 3px;
    padding-left: 50px;
    padding-right: 50px;
}

.pedir-carteirinha a:hover {
    color: #EAEAEA;
    background-color: #212121;
    transition: 0.7s ease-out;
}

/* banner (carteirinha) */

.banner-carteirinha {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    height: 640px;
    display: flex;
    align-items: center;
}

.pai-text-carteirinha {
    float: left;
    width: 85%;
}

.text-carteirinha h2{
    color: #602E9A;
    font-weight: 700;
    font-size: 22px;
}

.text-carteirinha h3 {
    color: #212121;
    font-size: 40px;
    font-weight: 700;
    margin-top: 10px;
}

.text-carteirinha h4 {
    color: #212121;
    font: 24px;
    font-weight: 300;
    margin-top: 10px;
}


.carteirinha-banner {
    float: right;
    width: 40%;
}

.carteirinha-banner img {
    width: 100%;
}


/* venha ser */

.venha-ser {
    width: 100%;
    padding-left: 10%;
    padding-right: 8%;
    margin-top: 50px;
}

.venha-ser h1 {
    text-align: center;
    font-size: 38px;
}

.passos {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;;
}

.passos-icons {
    width: 22%;
    display: flex;
}

.circle-purple {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    float: left;
    background-color:#602E9A;
    border-radius: 360px;
}

.circle-white {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: #EAEAEA 2px solid;
    border-radius: 360px;
}

.text-passos {
    padding-left: 10px;
    width: 230px;
    float: right;
}

.text-passos h2 {
    font-size: 21px;
    font-weight: 700;
    color: #212121;
}
.text-passos h3 {
    font-size: 15px;
    font-weight: 300;
    color: #212121;
}

.quero-ser {
    margin-top: 50px;
    text-align: center;
}

.quero-ser a {
    color: #212121;
}


/* hgroup default */

.text-default {
    padding-left: 10%;
    padding-right: 10%;
}

.text-default h2{
    color: #602E9A;
    font-weight: 700;
    font-size: 22px;
}

.text-default h3 {
    color: #212121;
    font-size: 40px;
    font-weight: 700;
    margin-top: 10px;
}

.text-default h4 {
    color: #212121;
    font: 24px;
    font-weight: 300;
    margin-top: 10px;
}

/* section facilidades */

.pai-facilidades {
    width: 100%;
    display: flex;
    height: auto;
}
.pai-text-facilidade {
    margin-left: 10%;
    width: 30%;
}

.fila {
    margin-top: 30px;
}

.black-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 360px;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    border: #212121 1.5px solid;
}

.facilidades h2 {
    color: #212121;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.facilidades h3 {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
}

.pedir-carteirinha-facilidades{
    margin-top: 10px;
}

.banner-facilidades {
    width: 50%;
    margin-left: 10%;
    float: left;
}

.banner-facilidades img {
    width: 100%;
    height: 100%;
}

/* section stup é tudo */

.stup-tudo {
    width: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.stup-tudo h1 {
    color: #fff;
    background-color: none;
    font-size: 120px;
    font-style: italic;
    -webkit-text-stroke: 1px #602E9A ;
}










