<!doctype html>
<html lang="pt-br">

<head>
	<title>ADM | STUP</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="/css/css-adm/template/assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/css-adm/template/assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/css-adm/template/assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="/css/css-adm/template/assets/vendor/chartist/css/chartist-custom.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="/css/css-adm/template/assets/css/main.css">
	<link rel="stylesheet" href="/css/css-adm/template/assets/css/demo.css">
	<link rel="stylesheet" href="/css/css-adm/template/assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/images/icon-title.svg">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="index"><img src="assets//images/Stup-logo.png" alt="Stup Logo" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i
							class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<form class="navbar-form navbar-left">

				</form>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="index" class=""><i class="lnr lnr-home"></i> <span>Home</span></a></li>
						<li><a href="recarga" class=""><i class="lnr lnr-cart"></i> <span>Recarga</span></a></li>
						<li>
							<a href="#cadastros" data-toggle="collapse" class="collapsed active"><i
									class="lnr lnr-file-empty"></i>
								<span>Cadastros</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="cadastros" class="collapse ">
								<ul class="nav">
									<li><a href="cadastro-cliente" class=""><i class="fa fa-credit-card"></i>
											<span>
												Usuário
											</span>
										</a>
									</li>
									<li><a href="cadastro-motorista" class="active"><i class="lnr lnr-user"></i>
											<span>
												Motorista
											</span>
										</a>
									</li>
									<li><a href="cadastro-linhas" class=""><i class="fa fa-map-marker"></i>
											<span>
												Linhas
											</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<a href="#registros" data-toggle="collapse" class="collapsed"><i
									class="lnr lnr lnr-pencil"></i>
								<span>Registros</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="registros" class="collapse ">
								<ul class="nav">
									<li><a href="registro-clientes" class=""><i class="fa fa-credit-card"></i>
											<span>
												Usuário
											</span>
										</a>
									</li>
									<li><a href="registro-motorista" class=""><i class="lnr lnr-user"></i>
											<span>
												Motorista
											</span>
										</a>
									</li>
									<li><a href="registros-linhas" class=""><i class="fa fa-map-marker"></i>
											<span>
												Linhas
											</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<a href="#relatorios" data-toggle="collapse" class="collapsed"><i
									class="fa fa-calendar"></i>
								<span>Relatórios</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="relatorios" class="collapse ">
								<ul class="nav">
									<li><a href="relatórios-clientes" class=""><i class="fa fa-credit-card"></i>
											<span>
												Usuário
											</span>
										</a>
									</li>
									<li><a href="relatórios-motorista" class=""><i class="lnr lnr-user"></i>
											<span>
												Motorista
											</span>
										</a>
									</li>
									<li><a href="relatórios-linhas" class=""><i class="fa fa-map-marker"></i>
											<span>
												Linhas
											</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
						<div class="panel-heading">
							<h3 class="panel-title">Cadastro Motorista</h3>
						</div>
						<div class="panel-body">
							<div class="form">
								<form id="form-motorista" novalidate enctype="multipart/form-data">
									<div class="input-group">
										<span class="input-group-addon"><i class=""></i>*Foto 3x4</span>
										<div class="">
											<!-- <img class=""
												src="https://mdbootstrap.com//images/Photos/Others/placeholder.jpg"
												alt="example placeholder"  /> -->
										</div>
										<div class="col-4"> <br>
											<label class="form-label text-white " for="customFile1"></label>
											<input type="file" class="form-control px-0" name="foto" id="foto" />
										</div>
									</div>
									<br>
									<div class="input-group">
										<span class="input-group-addon"><i class=""></i>*Nome Completo</span>
										<input class="form-control" name="nome" id="nome" type="text">
									</div>
									<br>
									<!-- <div class="input-group">
								<span class="input-group-addon"><i class=""></i>*CPF</span>
								<input class="form-control" type="text">
							</div>
							<br>
							<div class="input-group">
								<span class="input-group-addon"><i class=""></i>*RG</span>
								<input class="form-control" type="text">
							</div>
							<br>
							<div class="input-group">
								<span class="input-group-addon"><i class=""></i>*CNH</span>
								<input class="form-control" type="text">
							</div>
							<br>
							<div class="input-group">
								<span class="input-group-addon"><i class=""></i>*Data de Nascimento </span>
								<input class="form-control" type="date">
							</div>
							<br>
							<div class="input-group">
								<span class="input-group-addon"><i class=""></i>Sexo:</span>
								<select class="form-control" name="sexo" id="usoSelect">
									<option value="" disabled selected hidden> Escolher</option>
									<option value="masculino">Masculino</option>
									<option value="feminino">Feminino</option>
									<option value="outro">Outro</option>
									<option value="prefiroNãoResponder">Prefiro não responder</option>
								</select>
							</div>
							<br>
							<div class="input-group">
								<span class="input-group-addon"><i class=""></i>*E-mail</span>
								<input class="form-control" type="text">
							</div>
							<br>
							<div class="input-group">
								<span class="input-group-addon"><i class=""></i>*E-mail Secundário</span>
								<input class="form-control" type="text">
							</div>
							<br>
							<div class="input-group">
								<span class="input-group-addon"><i class=""></i>*Número de Telefone</span>
								<input class="form-control" type="text">
							</div>
							<br> -->
								<div class=""><input class="col text-left btn btn-primary" type="submit"></div>
								</form>
							</div>
						</div>
					</div>

					<div class="clearfix"></div>
					<footer>
						<div class="container-fluid">
							<p class="copyright">&copy; 2023 <a href="#" target="_blank">STUP</a>.
								Todos os Direitos Reservador</p>
						</div>
					</footer>
				</div>
				<!-- END WRAPPER -->
				<!-- Javascript -->
				<script src="/css/css-adm/template/assets/vendor/jquery/jquery.min.js"></script>
				<script src="/css/css-adm/template/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
				<script src="/css/css-adm/template/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
				<script src="/css/css-adm/template/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
				<script src="/css/css-adm/template/assets/vendor/chartist/js/chartist.min.js"></script>
				<script src="/css/css-adm/template/assets/scripts/klorofil-common.js"></script>
				<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
				<script>
					const form = document.querySelector('#form-motorista');
					form.addEventListener('submit', async (event) => {
						event.preventDefault()
						try {
							const formData = new FormData(form);
							const response = await axios.post('http://localhost:3000/api/motoristas/cadastrar', formData, {
								headers: {
									'Content-Type': 'multipart/form-data'
								}
							});
							const { motorista } = response.data;
							alert("Motorista cadastrado com sucesso.");
							//   window.location.href = `/motoristas/exibir/${motorista.id}`;
						} catch (error) {
							console.log(error);
							alert(error.response.data.mensagem);
						}
					});


				</script>
</body>

</html>