<!doctype html>
<html lang="pt-br">

<head>
	<title>ADM | STUP</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="/css/css-adm/template/assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/css-adm/template/assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/css-adm/template/assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="/css/css-adm/template/assets/vendor/chartist/css/chartist-custom.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="/css/css-adm/template/assets/css/main.css">
	<link rel="stylesheet" href="/css/css-adm/template/assets/css/demo.css">
	<link rel="stylesheet" href="/css/css-adm/template/assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/images/icon-title.svg">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="/adm"><img src="/images/adm-stup-logo.png" alt="Stup Logo" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i
							class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<form class="navbar-form navbar-left">

				</form>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="/adm" class="active"><i class="lnr lnr-home"></i> <span>Home</span></a></li>
						<li><a href="/adm/recarga" class=""><i class="lnr lnr-cart"></i> <span>Recarga</span></a></li>
						<li>
							<a href="#cadastros" data-toggle="collapse" class="collapsed"><i
									class="lnr lnr-file-empty"></i>
								<span>Cadastros</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="cadastros" class="collapse ">
								<ul class="nav">
									<li>
										<a href="/adm/cliente/cadastrar" class=""><i class="fa fa-credit-card"></i>
											<span>
												Cliente
											</span>
										</a>
									</li>
									<li>
										<a href="/adm/motorista/cadastrar" class=""><i class="fa-solid fa-id-card"></i>
											<span>
												Motorista
											</span>
										</a>
									</li>
									<li>
										<a href="/adm/linha/cadastrar" class=""><i class="fa fa-map-marker"></i>
											<span>
												Linha
											</span>
										</a>
									</li>
									<li><a href="/adm/usuario/cadastrar" class=""><i class="fa-solid fa-user"></i>
											<span>
												Usuário
											</span>
										</a>
									</li>
									<li><a href="/adm/onibus/cadastrar" class=""><i class="fa-solid fa-bus"></i>
											<span>
												Ônibus
											</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<a href="#registros" data-toggle="collapse" class="collapsed"><i
									class="lnr lnr lnr-pencil"></i>
								<span>Registros</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="registros" class="collapse ">
								<ul class="nav">
									<li>
										<a href="/adm/cliente/registro" class=""><i class="fa fa-credit-card"></i>
											<span>
												Cliente
											</span>
										</a>
									</li>
									<li>
										<a href="/adm/motorista/registro" class=""><i class="fa-solid fa-id-card"></i>
											<span>
												Motorista
											</span>
										</a>
									</li>
									<li>
										<a href="/adm/linha/registro" class=""><i class="fa fa-map-marker"></i>
											<span>
												Linha
											</span>
										</a>
									</li>
									<li><a href="/adm/usuario/registro" class=""><i class="fa-solid fa-user"></i>
											<span>
												Usuário
											</span>
										</a>
									</li>
									<li><a href="/adm/onibus/registro" class=""><i class="fa-solid fa-bus"></i>
											<span>
												Ônibus
											</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<a href="#relatorios" data-toggle="collapse" class="collapsed"><i
									class="fa fa-calendar"></i>
								<span>Relatórios</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="relatorios" class="collapse ">
								<ul class="nav">
									<li>
										<a href="/adm/cliente/cadastrar" class=""><i class="fa fa-credit-card"></i>
											<span>
												Cliente
											</span>
										</a>
									</li>
									<li>
										<a href="/adm/motorista/cadastrar" class=""><i class="fa-solid fa-id-card"></i>
											<span>
												Motorista
											</span>
										</a>
									</li>
									<li>
										<a href="/adm/linha/cadastrar" class=""><i class="fa fa-map-marker"></i>
											<span>
												Linha
											</span>
										</a>
									</li>
									<li><a href="/adm/usuario/cadastrar" class=""><i class="fa-solid fa-user"></i>
											<span>
												Usuário
											</span>
										</a>
									</li>
									<li><a href="/adm/onibus/cadastrar" class=""><i class="fa-solid fa-bus"></i>
											<span>
												Ônibus
											</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
						<div class="panel-heading">
							<h3 class="panel-title">Registro de Motoristas</h3>
						</div>
						<div class="row style=" style="margin-left: 1%;">
							<div class="col-md-1 text-left">
								<a href="#" class="btn btn-primary">Novo
									<i class="lnr lnr-user" style="padding-left: 5px;"></i>
								</a>
							</div>
							<div class="col-md-4 " style="margin-left: 2%;">
								<div class="input-group">
									<input type="text" value="" class="form-control"
										placeholder="Buscar motorista por nome">
									<span class="input-group-btn"><button type="button"
											class="btn btn-primary">Buscar</button></span>
								</div>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-6">
								<!-- RECENT PURCHASES -->
								<div class="panel">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>Foto</th>
												<th>ID</th>
												<th>Nome Completo</th>
												<th>CNH</th>
												<th>Celular</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><img src="https://placehold.co/60x60/EEE/31343C" alt=""></td>
												<td>1</td>
												<td>João Gabriel de Faria</td>
												<td>21316546</td>
												<td>(12) 99751-4485</td>
												<td class="text-center">
													<ul class="list-unstyled">
														<li><a href="#"><i class="fa-regular fa-eye"
																	style="color: #6029a0;"></i></a></li>
														<li><a href="#"><i class="fa-solid fa-pen-to-square"
																	style="color: #6029a0;"></i></a></li>
														<li><a href="#"><i class="fa-solid fa-trash"
																	style="color: #6029a0;"></i></a></li>
													</ul>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- END RECENT PURCHASES -->
							</div>
							<!-- END RECENT PURCHASES -->
							<div class="col-md-6">
								<!-- RECENT PURCHASES -->
								<div class="panel">
									<table id="motoristas" class="table table-hover">
										<thead>
											<th>ID</th>
											<th>Nome</th>
											<th>Foto</th>
										</thead>
										<tbody> </tbody>
									</table>
								</div>
								<!-- END RECENT PURCHASES -->
							</div>
						</div>
					</div>
					<!-- END WRAPPER -->
					<!-- Javascript -->
					<script src="/css/css-adm/template/assets/vendor/jquery/jquery.min.js"></script>
					<script src="/css/css-adm/template/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
					<script
						src="/css/css-adm/template/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
					<script
						src="/css/css-adm/template/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
					<script src="/css/css-adm/template/assets/vendor/chartist/js/chartist.min.js"></script>
					<script src="/css/css-adm/template/assets/scripts/klorofil-common.js"></script>

					<script>
						document.addEventListener('DOMContentLoaded', async () => {
							try {
								const tbody = document.querySelector('#motoristas tbody');

								const response = await axios.get('http://localhost:3000/api/motoristas/listar');
								response.data.forEach(motorista => {
									const tr = document.createElement('tr');

									const codigoTd = document.createElement('td');
									codigoTd.textContent = motorista.id;
									tr.appendChild(codigoTd);

									const nomeTd = document.createElement('td');
									nomeTd.textContent = motorista.nome;
									tr.appendChild(nomeTd);

									const fotoTd = document.createElement('td');
									if (motorista.foto) {
										fotoTd.innerHTML = `<img src="http://localhost:3000/${motorista.foto}" alt="${motorista.nome}" width="50">`;
									} else {
										fotoTd.innerHTML = "Não possui.";
									}
									tr.appendChild(fotoTd);

									const acoesTd = document.createElement('td.text-center');
									const acoesUl = document.createElement('ul.list-unstyled');
									const acoesLi = document.createElement('li');
									const exibirLink = `<a href="/motoristas/exibir/${motorista.id}"></a>`;
									const acoesI = document.createElement('i.fa-regular fa-eye');
									i.appendChild(acoesI);
									li.appendChild(acoesLi);



									const editarLink = `<a href="/motoristas/editar/${motorista.id}">Editar</a>`;
									const deletarLink = `<a href="/motoristas/deletar/${motorista.id}">Deletar</a>`;
									acoesTd.innerHTML = `${exibirLink} | ${editarLink} | ${deletarLink}`;
									tr.appendChild(acoesTd);
																						

									tbody.appendChild(tr);
								});

							} catch (error) {
								console.log(error);
								alert(error.response.data.mensagem);
							}

						});
					</script>

					<script src="https://kit.fontawesome.com/66b39b2469.js" crossorigin="anonymous"></script>
</body>

</html>