<!doctype html>
<html lang="pt-br">

<head>
	<title>ADM | STUP</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="/css/css-adm/template/assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/css-adm/template/assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/css-adm/template/assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="/css/css-adm/template/assets/vendor/chartist/css/chartist-custom.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="/css/css-adm/template/assets/css/main.css">
	<link rel="stylesheet" href="/css/css-adm/template/assets/css/demo.css">
	<link rel="stylesheet" href="/css/css-adm/template/assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/images/icon-title.svg">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="/adm"><img src="/images/adm-stup-logo.png" alt="Stup Logo" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i
							class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<form class="navbar-form navbar-left">

				</form>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="/adm" class=""><i class="lnr lnr-home"></i> <span>Home</span></a></li>
						<li><a href="/adm/recarga" class=""><i class="lnr lnr-cart"></i> <span>Recarga</span></a></li>
						<li>
							<a href="#cadastros" data-toggle="collapse" class="collapsed active"><i
									class="lnr lnr-file-empty"></i>
								<span>Cadastros</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="cadastros" class="collapse ">
								<ul class="nav">
									<li>
										<a href="/adm/cliente/cadastrar" class=""><i class="fa fa-credit-card"></i>
											<span>
												Cliente
											</span>
										</a>
									</li>
									<li>
										<a href="/adm/motorista/cadastrar" class=""><i class="fa-solid fa-id-card"></i>
											<span>
												Motorista
											</span>
										</a>
									</li>
									<li>
										<a href="/adm/linha/cadastrar" class=""><i class="fa fa-map-marker"></i>
											<span>
												Linha
											</span>
										</a>
									</li>
									<li><a href="/adm/usuario/cadastrar" class=""><i class="fa-solid fa-user"></i>
											<span>
												Usuário
											</span>
										</a>
									</li>
									<li><a href="/adm/onibus/cadastrar" class=""><i class="fa-solid fa-bus"></i>
											<span>
												Ônibus
											</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<a href="#registros" data-toggle="collapse" class="collapsed"><i
									class="lnr lnr lnr-pencil"></i>
								<span>Registros</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="registros" class="collapse ">
								<ul class="nav">
									<li>
										<a href="/adm/cliente/registro" class=""><i class="fa fa-credit-card"></i>
											<span>
												Cliente
											</span>
										</a>
									</li>
									<li>
										<a href="/adm/motorista/registro" class=""><i class="fa-solid fa-id-card"></i>
											<span>
												Motorista
											</span>
										</a>
									</li>
									<li>
										<a href="/adm/linha/registro" class=""><i class="fa fa-map-marker"></i>
											<span>
												Linha
											</span>
										</a>
									</li>
									<li><a href="/adm/usuario/registro" class=""><i class="fa-solid fa-user"></i>
											<span>
												Usuário
											</span>
										</a>
									</li>
									<li><a href="/adm/onibus/registro" class=""><i class="fa-solid fa-bus"></i>
											<span>
												Ônibus
											</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<a href="#relatorios" data-toggle="collapse" class="collapsed"><i
									class="fa fa-calendar"></i>
								<span>Relatórios</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="relatorios" class="collapse ">
								<ul class="nav">
									<li>
										<a href="/adm/cliente/cadastrar" class=""><i class="fa fa-credit-card"></i>
											<span>
												Cliente
											</span>
										</a>
									</li>
									<li>
										<a href="/adm/motorista/cadastrar" class=""><i class="fa-solid fa-id-card"></i>
											<span>
												Motorista
											</span>
										</a>
									</li>
									<li>
										<a href="/adm/linha/cadastrar" class=""><i class="fa fa-map-marker"></i>
											<span>
												Linha
											</span>
										</a>
									</li>
									<li><a href="/adm/usuario/cadastrar" class=""><i class="fa-solid fa-user"></i>
											<span>
												Usuário
											</span>
										</a>
									</li>
									<li><a href="/adm/onibus/cadastrar" class=""><i class="fa-solid fa-bus"></i>
											<span>
												Ônibus
											</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
						<div class="panel-heading">
							<h3 class="panel-title">Cadastro Linha</h3>
						</div>
						<div class="panel-body">
							<form action="" id="form-linha">
								<div class="input-group">
									<span class="input-group-addon"><i class=""></i>*Nome</span>
									<input class="form-control" placeholder="" id="nome" name="nome" type="text">
								</div>
								<br>
								<div class="input-group">
									<span class="input-group-addon"><i class=""></i>*Origem</span>
									<input class="form-control" placeholder="" id="origem" name="origem" type="text">
								</div>
								<br>
								<div class="input-group">
									<span class="input-group-addon"><i class=""></i>*Destino</span>
									<input class="form-control" placeholder="" id="destino" name="destino" type="text">
								</div>
								<br>
								<div class="input-group">
									<span class="input-group-addon"><i class=""></i>*Horário de partida</span>
									<input class="form-control" placeholder="" id="horarioPartida" name="horarioPartida"
										type="time">
								</div>
								<br>
								<div class="input-group">
									<span class="input-group-addon"><i class=""></i>*Duração da partida</span>
									<input class="form-control" placeholder="" id="duracao" name="duracao"
										type="number">
								</div>
								<br>
								<!-- <div class="input-group">
								<span class="input-group-addon"><i class=""></i>*Nome Inicial, <br>Local Inicial e <br> Trajeto</span>
								<input class="form-control" placeholder="*Nome Inicial" type="text">
								
								<input class="form-control" placeholder="*Bairro Inicial" type="text">
								<input class="form-control" placeholder="*Endereço Inicial" type="text">
								<textarea class="form-control" placeholder="*Pontos de Ônibus no Trajeto (Bairro e Endereço de Cada Ponto)" rows="4"></textarea>
							</div>
							<br>
							<div class="input-group">
								<span class="input-group-addon"><i class=""></i>*Local de Primeira Parada e Saída, <br> Novo Trajeto e <br> Novo Nome </span>
								<input class="form-control" placeholder="*Bairro" type="text">
								<input class="form-control" placeholder="*Endereço" type="text">					
								<textarea class="form-control" placeholder="*Novo Trajeto e seus Pontos de Ônibus (Bairro e Endereço de Cada Ponto)" rows="4"></textarea>								
								<input class="form-control" placeholder="*Novo Nome" type="text">
							</div>
							<br>

							<div class="input-group">
								<span class="input-group-addon"><i class=""></i>*Local de Segunda Parada e Saída, <br> Novo Trajeto e <br> Novo Inicial </span>
								<input class="form-control" placeholder="*Bairro" type="text">
								<input class="form-control" placeholder="*Endereço" type="text">					
								<textarea class="form-control" placeholder="*Novo Trajeto e seus Pontos de Ônibus (Bairro e Endereço de Cada Ponto)" rows="4"></textarea>								
								<input class="form-control" placeholder="*Nome Inicial" type="text">
							</div>
							<br>
							
							<div class="input-group">
								<span class="input-group-addon"><i class=""></i>*Local de Última Parada e <br> Último Trajeto  </span>
								<input class="form-control" placeholder="*Bairro" type="text">
								<input class="form-control" placeholder="*Endereço" type="text">					
								<textarea class="form-control" placeholder="*Novo Trajeto e seus Pontos de Ônibus (Bairro e Endereço de Cada Ponto)" rows="4"></textarea>								
								<input class="form-control" placeholder='Nome Final é "Garagem"' type="text" readonly>
							</div>
							<br>
							<br> -->


								<div class=""><input class="col text-left btn btn-primary" type="submit"></div>
							</form>
						</div>

						<div class="clearfix"></div>
						<footer>
							<div class="container-fluid">
								<p class="copyright">&copy; 2023 <a href="#" target="_blank">STUP</a>.
									Todos os Direitos Reservador</p>
							</div>
						</footer>
					</div>
					<!-- END WRAPPER -->
					<!-- Javascript -->
					<script src="/css/css-adm/template/assets/vendor/jquery/jquery.min.js"></script>
					<script src="/css/css-adm/template/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
					<script
						src="/css/css-adm/template/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
					<script
						src="/css/css-adm/template/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
					<script src="/css/css-adm/template/assets/vendor/chartist/js/chartist.min.js"></script>
					<script src="/css/css-adm/template/assets/scripts/klorofil-common.js"></script>
					<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
					<script>
						const form = document.querySelector('#form-linha');
						form.addEventListener('submit', async (event) => {
							event.preventDefault()

							try {
								const formData = new FormData(form);
								const nome = document.querySelector("#nome").value;
								const origem = document.querySelector("#origem").value;
								const destino = document.querySelector("#destino").value;
								const horarioPartida = document.querySelector("#horarioPartida").value;
								const duracao = document.querySelector("#duracao").value;
								const data = { nome, origem, destino, horarioPartida, duracao };
								console.log(data);
								const response = await axios.post('http://localhost:3000/api/linhas/cadastrar', data);
								const { linha } = response.data;
								alert("Linha cadastrado com sucesso.");
								form.reset();

								//   window.location.href = `/motoristas/exibir/${motorista.id}`;
							} catch (error) {
								console.log(error);
								alert(error.response.data.mensagem);
							}
						});
					</script>
					<script src="https://kit.fontawesome.com/66b39b2469.js" crossorigin="anonymous"></script>
</body>

</html>