<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&family=Inter:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;1,100;1,200&family=Open+Sans:ital,wght@0,300;1,300&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="/css/css-scan/style.css" />
    <link rel="icon" type="image/x-icon" href="/images/icon-title.svg">
    <title>STUP | SCAN </title>
</head>

<body>
    <div class="container-fluid px-0 bg-secondary">
        <div class="container-md px-0 bg-success d-flex justify-content-center align-items-center vh-100">
            <div class="text-center">
                <div class="row d-flex justify-content-center pt-3">
                    <h1 class="text-center text-dark fw-bold text-uppercase" style="font-size: 64px;"> Passe a <br>
                        Catraca !</h1>
                </div>
                <div class="row d-flex justify-content-center pt-3">
                    <img style="width: 100%;" src="/images/icon-black-arrow.svg" alt="">
                </div> <br>
                <div class="row d-flex justify-content-center text-center pt-2">
                    <h1 class="fw-bold text-dark text-uppercase" style="font-size: 32x;"><var id="tipo">Comum</var></h1>
                </div>
                <div class="row d-flex justify-content-center text-center pt-4">
                    <h1 class="fw-bold text-dark text-uppercase" style="font-size: 26px;"> Tarifa R$ -5.00</h1>
                </div>
                <div class="row d-flex justify-content-center text-center pt-2">
                    <h1 class="fw-bold text-dark text-uppercase" style="font-size: 26px;"> Restam R$ <var id="saldo"></var></h1>
                </div>
                <div class="row d-flex justify-content-center text-center pt-5">
                    <h1 class="fw-bold text-dark text-uppercase" style="font-size: 16px;"> Volte sempre!</h1>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        const obterParametroDaUrl = (nome) => {
            const urlSearchParams = new URLSearchParams(window.location.search);
            return urlSearchParams.get(nome);
        };

        // Função para exibir a mensagem e redirecionar após 5 segundos
        const exibirMensagemEAgendarRedirecionamento = () => {
            const causa = obterParametroDaUrl("causa");
            const mensagemParagrafo = document.getElementById("mensagem");

            // Exibir mensagem com base na causa
            if (causa === "cliente-nao-encontrado") {
                mensagemParagrafo.innerText = "Cliente não encontrado.";
            } else if (causa === "saldo-insuficiente") {
                mensagemParagrafo.innerText = "Saldo insuficiente.";
            } else if (causa === "saldo-insuficiente") {
                mensagemParagrafo.innerText = "Pass";
            }

            setTimeout(() => {
                window.location.href = "http://localhost:3001/scan";
            }, 5000);
        };

        exibirMensagemEAgendarRedirecionamento();

        document.addEventListener('DOMContentLoaded', async () => {
            const saldo = document.querySelector('#saldo');
            const tipo = document.querySelector('#tipo');
            const id = window.location.href.split('/').pop()

            try {
                var response = await axios.get(`http://localhost:3000/api/clientes/visualizar/${id}`)
                
                saldo.innerHTML = response.data.saldo
                


            
            } catch (error) {
                console.log(error)
            }
        })

    </script>

</body>

</html>