<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&family=Inter:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;1,100;1,200&family=Open+Sans:ital,wght@0,300;1,300&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="/css/css-scan/style.css" />
    <link rel="icon" type="image/x-icon" href="/images/icon-title.svg">
    <title>STUP | SCAN </title>
</head>

<body>
    <div class="container-fluid px-0 bg-secondary">
        <div class="container-md px-0 bg-info d-flex justify-content-center align-items-center vh-100">
            <div class="text-center">
                <h1 class="fw-bold text-dark text-uppercase" style="font-size: 64px;">Não conseguimos ler sua
                    carteirinha
                </h1>
            </div>
        </div>
    </div>


    <script>
        const obterParametroDaUrl = (nome) => {
            const urlSearchParams = new URLSearchParams(window.location.search);
            return urlSearchParams.get(nome);
        };

        // Função para exibir a mensagem e redirecionar após 5 segundos
        const exibirMensagemEAgendarRedirecionamento = () => {
            const causa = obterParametroDaUrl("causa");
            const mensagemParagrafo = document.getElementById("mensagem");

            // Exibir mensagem com base na causa
            if (causa === "cliente-nao-encontrado") {
                mensagemParagrafo.innerText = "Cliente não encontrado.";
            } else if (causa === "saldo-insuficiente") {
                mensagemParagrafo.innerText = "Saldo insuficiente.";
            } else if (causa === "saldo-insuficiente") {
                mensagemParagrafo.innerText = "Pass";
            }

            // Agendar redirecionamento após 5 segundos
            setTimeout(() => {
                window.location.href = "http://localhost:3001/scan";
            }, 3000);
        };

        exibirMensagemEAgendarRedirecionamento();

    </script>

</body>

</html>