<!doctype html>
<html lang="pt-br">

<head>
	<title>ADM | STUP</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="/css/css-adm/template/assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/css-adm/template/assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/css-adm/template/assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="/css/css-adm/template/assets/vendor/chartist/css/chartist-custom.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="/css/css-adm/template/assets/css/main.css">
	<link rel="stylesheet" href="/css/css-adm/template/assets/css/demo.css">
	<link rel="stylesheet" href="/css/css-adm/template/assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/images/icon-title.svg">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="/adm"><img src="/images/adm-stup-logo.png" alt="Stup Logo" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i
							class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<form class="navbar-form navbar-left">

				</form>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="index" class="active"><i class="lnr lnr-home"></i> <span>Home</span></a></li>
						<li><a href="recarga" class=""><i class="lnr lnr-cart"></i> <span>Recarga</span></a></li>
						<li>
							<a href="#cadastros" data-toggle="collapse" class="collapsed"><i
									class="lnr lnr-file-empty"></i>
								<span>Cadastros</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="cadastros" class="collapse ">
								<ul class="nav">
									<li><a href="cadastro-cliente" class=""><i class="fa fa-credit-card"></i>
											<span>
												Usuário
											</span>
										</a>
									</li>
									<li><a href="cadastro-motorista" class=""><i class="lnr lnr-user"></i>
											<span>
												Motorista
											</span>
										</a>
									</li>
									<li><a href="cadastro-linhas" class=""><i class="fa fa-map-marker"></i>
											<span>
												Linhas
											</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<a href="#registros" data-toggle="collapse" class="collapsed"><i
									class="lnr lnr lnr-pencil"></i>
								<span>Registros</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="registros" class="collapse ">
								<ul class="nav">
									<li><a href="registro-clientes" class=""><i class="fa fa-credit-card"></i>
											<span>
												Usuário
											</span>
										</a>
									</li>
									<li><a href="registro-motorista" class=""><i class="lnr lnr-user"></i>
											<span>
												Motorista
											</span>
										</a>
									</li>
									<li><a href="registros-linhas" class=""><i class="fa fa-map-marker"></i>
											<span>
												Linhas
											</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<a href="#relatorios" data-toggle="collapse" class="collapsed"><i
									class="fa fa-calendar"></i>
								<span>Relatórios</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="relatorios" class="collapse ">
								<ul class="nav">
									<li><a href="relatórios-clientes" class=""><i class="fa fa-credit-card"></i>
											<span>
												Usuário
											</span>
										</a>
									</li>
									<li><a href="relatórios-motorista" class=""><i class="lnr lnr-user"></i>
											<span>
												Motorista
											</span>
										</a>
									</li>
									<li><a href="relatórios-linhas" class=""><i class="fa fa-map-marker"></i>
											<span>
												Linhas
											</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="row">
						<div class="panel panel-headline">
							<div class="panel-heading">
								<h3 class="panel-title" style="font-size: 30px;">Home Administrativa</h3>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-md-4">
										<div class="metric">
											<a href="">
												<span class="icon"><i class="fa fa-user"></i></span>
												<p>
													<span class="number">540</span>
													<span class="title">Clientes STUP</span>
												</p>
											</a>
										</div>
									</div>
									<div class="col-md-4">
										<div class="metric">
											<a href="">
												<span class="icon"><i class="fa fa-credit-card"></i></span>
												<p>
													<span class="number">126</span>
													<span class="title">Motoristas Cadastrados </span>
												</p>
											</a>
										</div>
									</div>
									<div class="col-md-4">
										<div class="metric">
											<a href="">
												<span class="icon"><i class="fa fa-bar-chart"></i></span>
												<p>
													<span class="number">10</span>
													<span class="title">Linhas Cadastradas</span>
												</p>
											</a>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="panel panel-headline">
							<div class="panel-heading">
								<h3 class="panel-title">Estatísticas da Utilização do Passes</h3>
							</div>
							<div class="panel-body">
								<div class="col-md-9">
									<div id="headline-chart" class="ct-chart"></div>
								</div>

								<div class="col-md-3">
									<div class="weekly-summary text-right">
										<span class="number">320</span>
										<i class="fa-regular fa-credit-card"
											style="color: #602E9A; font-size: 30px;"></i>
										<span class="percentage">
											<i class="fa fa-caret-up text-success"></i>
										</span>
										<span class="info-label">Passes usados</span>

									</div>
									<div class="weekly-summary text-right">
										<span class="number">$5,758</span>
										<i class="fa-solid fa-money-bill" style="color: #602E9A; font-size: 30px;"></i>
										<span class="percentage">
											<i class="fa fa-caret-up text-success"></i></span>
										<span class="info-label"> De lucro</span>
									</div>
									<div class="weekly-summary text-right">
										<span class="number">23</span>
										<i class="fa-solid fa-xmark" style="color: #602E9A; font-size: 30px;"></i>
										<span class="percentage">
											<i class="fa fa-caret-down text-danger"></i>
										</span>
										<span class="info-label">Passes inutilisados</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- REGISTROS CLIENTES-->
					<div class="row">
						<div class="panel panel-headline">
							<div class="panel-heading">
								<h3 class="panel-title">Últimos Clientes Cadastrados</h3>
							</div>
							<div class="panel-body">
								<div class="col-12">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th>ID</th>
												<th>Nome</th>
												<th>CPF</th>
												<th>Uso</th>
												<th>Saldo</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><a href="#">1</a></td>
												<td>João</td>
												<td>51244681814</td>
												<td>Comum</td>
												<td><span class="label label-success">R$ 120,00</span></td>
											</tr>
											<tr>
												<td><a href="#">2</a></td>
												<td>Gabriel</td>
												<td>51244681814</td>
												<td>Comum</td>
												<td><span class="label label-danger">R$ 20,00</span></td>
											</tr>
											<tr>
												<td><a href="#">3</a></td>
												<td>Paulo</td>
												<td>51244681814</td>
												<td>Comum</td>
												<td><span class="label label-success">R$ 120,00</span></td>
											</tr>
											<tr>
												<td><a href="#">4</a></td>
												<td>Gabriel</td>
												<td>51244681814</td>
												<td>Comum</td>
												<td><span class="label label-danger">R$ 20,00</span></td>
											</tr>
											<tr>
												<td><a href="#">5</a></td>
												<td>Roberto</td>
												<td>51244681814</td>
												<td>Comum</td>
												<td><span class="label label-success">R$ 120,00</span></td>
											</tr>
										</tbody>
									</table>
									<div class="row">
										<div class="col-md-6 text-left"><a href="#" class="btn btn-primary">Ver
												registro completo</a>
										</div>
										<div class="col-md-6 text-right">
											<span class="panel-note"><i class="fa fa-clock-o"></i>
												Mais Recentes
											</span>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="panel panel-headline">
							<div class="panel-heading">
								<h3 class="panel-title">Últimos Linhas Cadastrados</h3>
							</div>
							<div class="panel-body">
								<div class="col-12">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th>Número</th>
												<th>Nome</th>
												<th>1° Ponto Final</th>
												<th>2° Ponto Final</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><a href="#">104</a></td>
												<td>CÂMPUS / OLARIA</td>
												<td>Sumaré - Av. Pres. Castelo Branco</td>
												<td>Praia das Palmeiras - Av. Geraldo Nogueira da Silva</td>
											</tr>
											<tr>
												<td><a href="#">104</a></td>
												<td>3026833</td>
												<td>Sumaré - Av. Pres. Castelo Branco</td>
												<td>Praia das Palmeiras - Av. Geraldo Nogueira da Silva</td>
											</tr>
											<tr>
												<td><a href="#">108</a></td>
												<td>100</td>
												<td>Sumaré - Av. Pres. Castelo Branco</td>
												<td>Praia das Palmeiras - Av. Geraldo Nogueira da Silva</td>
											</tr>
											<tr>
												<td><a href="#">107</a></td>
												<td>107</td>
												<td>Sumaré - Av. Pres. Castelo Branco</td>
												<td>Praia das Palmeiras - Av. Geraldo Nogueira da Silva</td>
											</tr>
											<tr>
												<td><a href="#">107</a></td>
												<td>108</td>
												<td>Sumaré - Av. Pres. Castelo Branco</td>
												<td>Praia das Palmeiras - Av. Geraldo Nogueira da Silva</td>
											</tr>
										</tbody>
									</table>
									<div class="row">
										<div class="col-md-6 text-left"><a href="#" class="btn btn-primary">Ver
												registro completo</a>
										</div>
										<div class="col-md-6 text-right">
											<span class="panel-note"><i class="fa fa-clock-o"></i>
												Mais Recentes
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="panel panel-headline">
							<div class="panel-heading">
								<h3 class="panel-title">Últimos Motoristas Cadastrados</h3>
							</div>
							<div class="panel-body">
								<div class="col-12">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th>ID</th>
												<th>Nome Completo</th>
												<th>CNH</th>
												<th>Telefone</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>0</td>
												<td>Steve</td>
												<td>512.446.818-14</td>
												<td>+55 (12) 99721-5547+55 (12) 99721-5547DDD</td>
											</tr>
											<tr>
												<td>2</td>
												<td>Steve</td>
												<td>512.446.818-14</td>
												<td>+55 (12) 99721-5547</td>
											</tr>
											<tr>
												<td>3</td>
												<td>Jane</td>
												<td>512.446.818-14</td>
												<td>+55 (12) 99721-5547</td>
											</tr>
											<tr>
												<td>4</td>
												<td>Jane</td>
												<td>512.446.818-14</td>
												<td>+55 (12) 99721-5547</td>
											</tr>
											<tr>
												<td>5</td>
												<td>Jane</td>

												<td>512.446.818-14</td>
												<td>+55 (12) 99721-5547</td>
											</tr>
										</tbody>
									</table>
									<div class="row">
										<div class="col-md-6 text-left"><a href="#" class="btn btn-primary">Ver
												registro completo</a>
										</div>
										<div class="col-md-6 text-right">
											<span class="panel-note"><i class="fa fa-clock-o"></i>
												Mais Recentes
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END MULTI CHARTS -->
				</div>
			</div>
		</div>
	</div>

	<!-- END MAIN CONTENT -->

	<!-- END MAIN -->
	<div class="clearfix"></div>
	<footer>
		<div class="container-fluid">
			<p class="copyright">&copy; 2023 <a href="#" target="_blank">STUP</a>.
				Todos os Direitos Reservados</p>
		</div>
	</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="/css/css-adm/template/assets/vendor/jquery/jquery.min.js"></script>
	<script src="/css/css-adm/template/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/css/css-adm/template/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/css/css-adm/template/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="/css/css-adm/template/assets/vendor/chartist/js/chartist.min.js"></script>
	<script src="/css/css-adm/template/assets/scripts/klorofil-common.js"></script>
	<script>
		$(function () {
			var data, options;

			// headline charts
			data = {
				labels: ['Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab', 'Dom'],
				series: [
					[111, 25, 18, 34, 29, 38, 44, 99],
				]
			};

			options = {
				height: 300,
				showArea: true,
				showLine: false,
				showPoint: false,
				fullWidth: true,
				axisX: {
					showGrid: false
				},
				lineSmooth: false,
			};

			new Chartist.Line('#headline-chart', data, options);


			// visits trend charts
			data = {
				labels: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dec'],
				series: [{
					name: 'series-real',
					data: [200, 380, 350, 320, 410, 450, 570, 400, 555, 620, 750, 900],
				}, {
					name: 'series-projection',
					data: [240, 350, 360, 380, 400, 450, 480, 523, 555, 600, 700, 800],
				}]
			};

			options = {
				fullWidth: true,
				lineSmooth: false,
				height: "270px",
				low: 0,
				high: 'auto',
				series: {
					'series-projection': {
						showArea: true,
						showPoint: false,
						showLine: false
					},
				},
				axisX: {
					showGrid: false,

				},
				axisY: {
					showGrid: false,
					onlyInteger: true,
					offset: 0,
				},
				chartPadding: {
					left: 20,
					right: 20
				}
			};

			new Chartist.Line('#visits-trends-chart', data, options);


			// visits chart
			data = {
				labels: ['Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab', 'Dom'],
				series: [
					[6384, 6342, 5437, 2764, 3958, 5068, 7654]
				]
			};

			options = {
				height: 300,
				axisX: {
					showGrid: false
				},
			};

			new Chartist.Bar('#visits-chart', data, options);


			// real-time pie chart
			var sysLoad = $('#system-load').easyPieChart({
				size: 130,
				barColor: function (percent) {
					return "rgb(" + Math.round(200 * percent / 100) + ", " + Math.round(200 * (1.1 - percent / 100)) + ", 0)";
				},
				trackColor: 'rgba(245, 245, 245, 0.8)',
				scaleColor: false,
				lineWidth: 5,
				lineCap: "square",
				animate: 800
			});

			var updateInterval = 3000; // in milliseconds

			setInterval(function () {
				var randomVal;
				randomVal = getRandomInt(0, 100);

				sysLoad.data('easyPieChart').update(randomVal);
				sysLoad.find('.percent').text(randomVal);
			}, updateInterval);

			function getRandomInt(min, max) {
				return Math.floor(Math.random() * (max - min + 1)) + min;
			}

		});
	</script>
	<script src="https://kit.fontawesome.com/66b39b2469.js" crossorigin="anonymous"></script>
</body>

</html>