<!doctype html>
<html lang="pt-br">

<head>
	<title>ADM | STUP</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="/css/css-adm/template/assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/css-adm/template/assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/css-adm/template/assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="/css/css-adm/template/assets/vendor/chartist/css/chartist-custom.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="/css/css-adm/template/assets/css/main.css">
	<link rel="stylesheet" href="/css/css-adm/template/assets/css/demo.css">
	<link rel="stylesheet" href="/css/css-adm/template/assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/images/icon-title.svg">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="/adm"><img src="/images/adm-stup-logo.png" alt="Stup Logo" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i
							class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<form class="navbar-form navbar-left">

				</form>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="/adm" class=""><i class="lnr lnr-home"></i> <span>Home</span></a></li>
						<li><a href="/adm/recarga" class=""><i class="lnr lnr-cart"></i> <span>Recarga</span></a></li>
						<li>
							<a href="#cadastros" data-toggle="collapse" class="collapsed active"><i
									class="lnr lnr-file-empty"></i>
								<span>Cadastros</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="cadastros" class="collapse ">
								<ul class="nav">
									<li>
										<a href="/adm/cliente/cadastrar" class=""><i class="fa fa-credit-card"></i>
											<span>
												Cliente
											</span>
										</a>
									</li>
									<li>
										<a href="/adm/motorista/cadastrar" class=""><i class="fa-solid fa-id-card"></i>
											<span>
												Motorista
											</span>
										</a>
									</li>
									<li>
										<a href="/adm/linha/cadastrar" class=""><i class="fa fa-map-marker"></i>
											<span>
												Linha
											</span>
										</a>
									</li>
									<li><a href="/adm/usuario/cadastrar" class=""><i class="fa-solid fa-user"></i>
											<span>
												Usuário
											</span>
										</a>
									</li>
									<li><a href="/adm/onibus/cadastrar" class=""><i class="fa-solid fa-bus"></i>
											<span>
												Ônibus
											</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<a href="#registros" data-toggle="collapse" class="collapsed"><i
									class="lnr lnr lnr-pencil"></i>
								<span>Registros</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="registros" class="collapse ">
								<ul class="nav">
									<li>
										<a href="/adm/cliente/registro" class=""><i class="fa fa-credit-card"></i>
											<span>
												Cliente
											</span>
										</a>
									</li>
									<li>
										<a href="/adm/motorista/registro" class=""><i class="fa-solid fa-id-card"></i>
											<span>
												Motorista
											</span>
										</a>
									</li>
									<li>
										<a href="/adm/linha/registro" class=""><i class="fa fa-map-marker"></i>
											<span>
												Linha
											</span>
										</a>
									</li>
									<li><a href="/adm/usuario/registro" class=""><i class="fa-solid fa-user"></i>
											<span>
												Usuário
											</span>
										</a>
									</li>
									<li><a href="/adm/onibus/registro" class=""><i class="fa-solid fa-bus"></i>
											<span>
												Ônibus
											</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<a href="#relatorios" data-toggle="collapse" class="collapsed"><i
									class="fa fa-calendar"></i>
								<span>Relatórios</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="relatorios" class="collapse ">
								<ul class="nav">
									<li>
										<a href="/adm/cliente/cadastrar" class=""><i class="fa fa-credit-card"></i>
											<span>
												Cliente
											</span>
										</a>
									</li>
									<li>
										<a href="/adm/motorista/cadastrar" class=""><i class="fa-solid fa-id-card"></i>
											<span>
												Motorista
											</span>
										</a>
									</li>
									<li>
										<a href="/adm/linha/cadastrar" class=""><i class="fa fa-map-marker"></i>
											<span>
												Linha
											</span>
										</a>
									</li>
									<li><a href="/adm/usuario/cadastrar" class=""><i class="fa-solid fa-user"></i>
											<span>
												Usuário
											</span>
										</a>
									</li>
									<li><a href="/adm/onibus/cadastrar" class=""><i class="fa-solid fa-bus"></i>
											<span>
												Ônibus
											</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
						<div class="panel-heading">
							<h3 class="panel-title">Editar Cliente</h3>
						</div>
						<div class="panel-body">
							<form id="form" novalidate enctype="multipart/form-data">
								<div class="input-group">
									<span class="input-group-addon"><i class=""></i>*Foto 3x4</span>
									<div class="col-4"> <p id="fotoPreview"></p>
										<label class="form-label text-white " for="customFile1"></label>
										<input type="file" class="form-control px-0" name="foto" id="foto" />
									</div>
								</div>
								<br>
								<div class="input-group">
									<span class="input-group-addon"><i class=""></i>*Nome Completo</span>
									<input class="form-control" id="nome" name="nome" type="text">
								</div>
								<br>
								<div class="input-group">
									<span class="input-group-addon"><i class=""></i>*Código Carteirinha</span>
									<input class="form-control" id="carteira" name="carteira" type="text">
								</div>
								<br>
								<div class="input-group">
									<span class="input-group-addon"><i class=""></i>*Seu ID de Usuário</span>
									<input class="form-control" readonly id="usuario_id" name="usuario_id"
										type="number">
								</div>
								<br>
								<div class="input-group">
									<span class="input-group-addon"><i class=""></i>*CPF</span>
									<input class="form-control" name="cpf" id="cpf" type="text">
								</div>
								<br>
								<div class="input-group">
									<span class="input-group-addon"><i class=""></i>*RG</span>
									<input class="form-control" name="rg" id="rg" type="text">
								</div>
								<br>
								<div class="input-group">
									<span class="input-group-addon"><i class=""></i>*Data de Nascimento</span>
									<input class="form-control" type="date" name="nascimento" id="nascimento">
								</div>
								<br>
								<div class="input-group">
									<span class="input-group-addon"><i class=""></i>*Tipo:</span>
									<select class="form-control" name="tipo" id="tipo">
										<option value="" disabled selected hidden> Escolha: </option>
										<option value="1">Comum</option>
										<option value="2">Escolar</option>
										<option value="3">Idoso</option>
										<option value="4">PCDs</option>
										<option value="5">Vale Transporte</option>
									</select>
								</div>
								<br>
								<div class="input-group">
									<span class="input-group-addon"><i class=""></i>Sexo:</span>
									<select class="form-control" name="sexo" id="sexo">
										<option value="" disabled selected hidden> Escolha:</option>
										<option value="1">Masculino</option>
										<option value="2">Feminino</option>
										<option value="3">Outro</option>
										<option value="4">Prefiro não responder</option>
									</select>
								</div>
								<br>
								<div class="input-group">
									<span class="input-group-addon"><i class=""></i>*Número de Telefone</span>
									<input class="form-control" type="text" name="telefone" id="telefone">
								</div>
								<br>
								<div class="input-group">
									<span class="input-group-addon"><i class=""></i>*E-mail</span>
									<input class="form-control" type="email" name="email" id="email">
								</div>
								<br>
								<div class="input-group">
									<span class="input-group-addon"><i class=""></i>*Saldo Inicial</span>
									<input type="number" name="saldo" id="saldo" class="form-control is-invalid"
										class="form-control">
								</div>
								<br>
								<div class=""><input class="col text-left btn btn-primary" type="submit"></div>
							</form>
						</div>

						<div class="clearfix"></div>
						<footer>
							<div class="container-fluid">
								<p class="copyright">&copy; 2023 <a href="#" target="_blank">STUP</a>.
									Todos os Direitos Reservados</p>
							</div>
						</footer>
					</div>
					<!-- END WRAPPER -->
					<!-- Javascript -->
					<script src="/css/css-adm/template/assets/vendor/jquery/jquery.min.js"></script>
					<script src="/css/css-adm/template/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
					<script
						src="/css/css-adm/template/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
					<script
						src="/css/css-adm/template/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
					<script src="/css/css-adm/template/assets/vendor/chartist/js/chartist.min.js"></script>
					<script src="/css/css-adm/template/assets/scripts/klorofil-common.js"></script>
					<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
					<script src="/js/js-adm/clientes/editar.js"></script>
					<script src="https://kit.fontawesome.com/66b39b2469.js" crossorigin="anonymous"></script>
</body>

</html>